body  {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


a {
    text-decoration: none;

}

/**************************Dashboard**********************/
.Dashboard_container{
    position: relative;
    display: flex;
    height: 100vh;
    background: #f3f3f37a;
    /* border: 1px solid black; */
}

.SideBar{
    width: 17%;
    /* border: 1px solid black; */
    background-color: var(--primary-color);
    display: grid;
    grid-template-rows: 10% 80% 10%;
    color: white;
}



.SideBar-logo{
    /* border: 1px solid white; */
    display: flex;
    align-items: center;
}
.SideBar-logo img{
    width: 30px;
    margin-left: 30px;
}

.SideBar-logo span{
    font-weight: bold;
    font-size: 30px;
    margin-left: 10px;

}
.SideBar-Dash{
    /* border: 1px solid white; */
    display: flex;
    justify-content: center;
}
.SideBar-Dash .dash{
    /* border: 1px solid white; */
    width: 80%;
    height: fit-content;
    display: flex;
    align-items: center;
    border-radius: 10px;
    background-color: white;
    margin-top: 50px;
}
.SideBar-Dash .dash span{
    font-size: 20px;
    font-weight: 600;
    color: black;

}
.SideBar-logout{
    /* border: 1px solid white; */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.Data-container{
    width: 83%;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
}

.Header-section{
    border-bottom: 1px solid rgb(231, 228, 228);
    display: flex;
    justify-content: flex-end;
}

.header-section_profile{
    display: flex;
    align-items: center;
    padding: 0 30px;
    margin-right: 10px;
}

.header-section_profile span{
    font-weight: 600;
}

.header-section_profile img:last-child{
    margin-left: 10px;
    cursor: pointer;
}

.Sensors-section{
    display: flex;
    /* border: 1px solid black; */
    height: 20%;
    align-items: flex-end;
}

.Sensors-section .Sensors-section_item{
    display: flex;
    /* border: 1px solid red; */
    width: 18%;
    height: 75%;
    border-radius: 10px;
    box-shadow: 0 0 8px 1px rgba(201, 198, 198, 0.493);
    background: rgba(255, 255, 255, 0.096);
    margin-left: 30px ;
}

.Sensors-section_item:first-child{
    margin-left: 100px;
}

.Sensors-section_item div{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 0 10px 20px;
    font-weight: 500;
    width: 60%;
}

.Sensors-section_item .prctg{
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 17px;
    margin-top: 15px;
    padding:5px;
    /* border: 1px solid red; */
    width: 40%;
}
/* The switch - the box around the slider */
.switch {
    margin-top: 10px;
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 3.2em;
    height: 1.8em;
}

  /* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

  /* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    inset: 0;
    border: 2px solid #4141417a;
    border-radius: 50px;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

.slider:before {
    position: absolute;
    content: "";
    height: 1.2em;
    width: 1.2em;
    left: 0.2em;
    bottom: 0.2em;
    background-color: #4141417a;
    border-radius: inherit;
    transition: all 0.4s cubic-bezier(0.23, 1, 0.320, 1);
    
  }

.switch input:checked + .slider {
    box-shadow: 0 0 10px rgba(9, 117, 241, 0.8);
    border: 2px solid #0974f1;
}

.switch input:checked + .slider:before {
    transform: translateX(1.5em);
}
.Sensors-section_item img{
    width: 30px;
}
.Events-section{
    display: flex;
    /* border: 1px solid black; */
    height: 30%;
}
.Events-section .Temperature{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    /* border: 1px solid red; */
    width: 50%;
}
.Temperature-container{
    position: relative;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    width: 78%;
    height: 85%;
    box-shadow: 0 0 8px 1px rgba(201, 198, 198, 0.493);
    background: rgba(255, 255, 255, 0.096);
    border-radius: 10px;
    padding: 8px 0;
    margin-left: 70px;
}
.Temperature .Temperature-container span{
    position: absolute;
    bottom: 20px;
    left: 35%;
    z-index: 1;
    margin-left: 10px;
}
.Temperature .Temperature-container span:last-child{
    margin-left: 35px;
    margin-bottom: 40px;
}
.Temperature  .Temperature-container img{
    position: absolute;
    /* top: 10px;
    left: 30px; */
    width: 60%;
    /* border: 1px solid black; */
    z-index: -1;
}
.Events-section .Racs{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    /* border: 1px solid red; */
    width: 50%;
    
}
.Events-section .Racs .Racs-container{
    position: relative;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    width: 77%;
    height: 85%;
    box-shadow: 0 0 8px 1px rgba(201, 198, 198, 0.493);
    background: rgba(255, 255, 255, 0.096);
    border-radius: 10px;
    padding-bottom: 5px;
    padding: 8px 0;
    margin-right: 125px;
}
.Events-section .Racs .Racs-container img{
    position: absolute;
    /* top: 10px;
    left: 30px; */
    width: 50%;
    /* border: 1px solid black; */
    z-index: -1;
}
.Events-section .Racs .Racs-container .Rac2{
    position: absolute;
    bottom: 12px;
    left: 54.5%;
    width: 20px;
    height: 4rem;
    background-color: var(--primary-color);
}
.Events-section .Racs .Racs-container .Rac1{
    position: absolute;
    bottom: 12px;
    left: 37.5%;
    width: 20px;
    height: 8rem;
    background-color: var(--primary-color);
}


.Notif-section{
    display: flex;
    /* border: 1px solid black; */
    height: 42%;
}


.Notif-section .Racs-comd{
    width: 50%;
    display: flex;
    justify-content: center;
    /* border: 1px solid black; */
}

.Notif-section .Racs-comd .Racs-comd_table{
    /* border: 1px solid black; */
    width: 78%;
    padding: 8px 0;
    max-height: 90%;
    margin-top: 18px;
    margin-left: 70px;
    padding: 10px 0;
    box-shadow: 0 0 8px 1px rgba(201, 198, 198, 0.493);
    background: rgba(255, 255, 255, 0.096);
    border-radius: 10px;
    
}


.Notif-section .Racs-comd .Racs-comd_table .head{
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid rgb(212, 212, 212);
    font-weight: bold;
}

.Notif-section .Racs-comd .Racs-comd_table .Columns{
    /* border: 1px solid red; */
    height: 90%;
    overflow-y: scroll;
    padding-top: 10px;
}

.Notif-section .Racs-comd .Racs-comd_table .Columns .Column{
    padding: 5px 0;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
    width: 90%;
    margin-left: 30px;
}

.Notif-section .Racs-comd .Racs-comd_table .Columns .Column input{
    background: var(--primary-color);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 3px 5px;
}

.Notif-section .Notif{
    /* border: 1px solid black; */
    width: 50%;
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

.Notif-section .Notif .Notif-container{
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
    width: 77%;
    height: 90%;
    padding: 5px 0;
    box-shadow: 0 0 8px 1px rgba(201, 198, 198, 0.493);
    background: rgba(255, 255, 255, 0.096);
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 3px;
    
}

.Notif-section .Notif .Notif-container .Event{
    font-size: 20px;
    padding-left: 20px;
    font-weight: bold;
}
.Notif-section .Notif .Notif-container .Notif-container-colum{
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    padding-left: 25px;
    height: 40px;
}
.Notif-section .Notif .Notif-container .Notif-container-colum  p{
    height: fit-content;
    /* border: 1px solid black; */
    margin-top: 17px;
    margin-left: 10px;
    
}
.Notif-section .Notif .Notif-container .Notif-container-colum  img{
    width: 25px;
    height: 30px;
    object-fit: contain;
    /* border: 1px solid black; */
}

.Notif-section .Notif .Notif-container .column-container{
    /* border: 1px solid yellow; */
    height: 90%;
    overflow-y: scroll;
    margin-top: 10px;
}


.private-room_popup{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 10;
    height: 100%;
    background-color: rgba(44, 44, 44, 0.582);
}
.private-room_popup .code{
    /* border: 1px solid black; */
    width: 20rem;
    height: 8rem;
    background-color: white;
    border-radius: 10px;
}

.private-room_popup .code .EnterCode{
    /* border: 1px solid black; */
    display: flex;
    padding: 15px 0;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
}
.private-room_popup .code  .Inputs{
    /* border: 1px solid black; */
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    margin-left: 20px;
    margin-top: 5px;
}
.private-room_popup .code  .Inputs input{
    padding-left: 10px;
    border: 1px solid  rgb(212, 210, 210);
    border-radius: 5px;
    width: 30px;
    height: 30px;
    background: rgba(226, 223, 223, 0.527);
}

/**************************Login**********************/
.login-container{
    display: flex;
    min-width: max-content;
    /* border: 1px solid black; */
    height: 100vh;
}
.login-container_form {
    height: 100%;
    /* border: 1px solid red; */
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.39); */
}

.login-container_image{
    position: relative;
    height: 100%;;
    width: 55%;
    /* border: 1px solid green; */
}

.login-container_image img{
    position: absolute;
    object-fit: contain;
    height: 100%;
}
.login-container_form form{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 70%;
    padding: 20px;
    border-radius: 20px;
    position: relative;
}

.alert{
    color: rgb(202, 5, 5);
    font-weight: 600;
    width: fit-content;
    padding: 0;
    z-index: 10;
    margin: 0;
    /* transition: 2.5s; */
}

  .form-title {
    font-size: 28px;
    color: var(--primary-color);
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
  }
  
  .form-title::before,.form-title::after {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 0px;
    background-color: var(--primary-color);
}

.form-title::before {
    width: 18px;
    height: 18px;
    background-color: var(--primary-color);
}

.form-title::after {
    width: 18px;
    height: 18px;
    animation: pulse 1s linear infinite;
}

.form-message{
    color: #747373;
    padding-left: 10px;
    max-width :80%; 
    font-size: 13px;
    /* border: 1px solid black; */
}
.form-input{
    margin-top: 10px;
    max-width: 90% ;
    display: flex;
    border-radius: 10px;
    border: 1px solid #747373;
    width: 100%;
}

.form-input:first-of-type{
    margin-top: 30px;
}
.form-input input{
    width: 100%;
    padding: 15px 15px;
    border-radius: 10px;
    outline: none;
    border: none;

}

.form-input img{
    width: 25px;
    object-fit: contain;
    margin:0 10px;
}

.from-keepSession{
    margin-top: 15px;
    display: flex;
}
.from-keepSession span{
    padding-left: 10px;
    font-weight: 500;
}
.submit {
    border: none;
    outline: none;
    background-color: var(--primary-color);
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    transition: 0.2s;
    max-width: 90% ;
    margin-top: 40px;
    cursor: pointer;
}
.submit:hover {
    background-color: var(--hover);
}
  

  @keyframes pulse {
    from {
      transform: scale(0.9);
      opacity: 1;
    }
  
    to {
      transform: scale(1.8);
      opacity: 0;
    }
  }